.main-menu {
  width: 640px;
  margin: 0 auto;
  padding: 10px 0;
}

.main-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.main-menu li {
  margin: 0 10px;
}

.main-menu a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
}

.main-menu a:hover {
  color: #007bff;
}